:root {
  --background-color: #000000;
  /* background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d); */
  --text-color: #ffffff;
  --primary-color: #1e88e5;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden; /* Prevent horizontal scrolling */
}





/* General Styles */
header {
  width: 100%;
  padding: 1em 0;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: fixed;
  top: 0;
}

header nav {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header nav .logo {
  width: 30px;
  height: auto;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: var(--primary-color);
}

header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

header nav ul li a:hover::after,
header nav ul li a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Responsive Styles */
.menu-icon,
.close-btn {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 0;
    /* background-color: #333; */
    width: 200px; 
    text-align: right;
    /* padding: 20px 0; */
  }
  header nav ul li {
    margin: 0.2em 0; /* Add margin between menu items */
  }

  header nav ul.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .close-btn {
    display: none;
  }

  .menu-icon.active + .close-btn {
    display: block;
  }

  .menu-icon.active {
    display: none;
  }
}









/* Home section*/
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
}

#home .intro {
  max-width: 1100px;
  width: 100%; 
  padding: 2em; 
  text-align: left; 
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#home h1, 
#home p {
  animation: slideInFromLeft 1.5s ease-out;
}

#home h1 {
  color: var(--primary-color);
  font-size: 3em;
  margin: 0.5em 0;
}

#home p {
  font-size: 1.5em;
  margin: 0;
}


 /* About Section */
 #about {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100%;
}
 .about-container {
  max-width: 1100px;
  padding: 2em;
  color: white;
  text-align: left;
  width: 100%;
}

.about-container h2 {
  color: var(--primary-color);
  font-size: 2em;
  margin-bottom: 0.5em;
}

.about-container p {
  color: #cccccc;
  margin: 0;
  max-width: 600px; /* Controls the width of the text block */
  line-height: 1.6; /* Adjust line height for readability */
}


/* Education Section */
.education-container {
  max-width: 1100px;
  color:white;
  margin: auto;
  padding: 2em;
}

.education-container h2 {
  color: var(--primary-color);
  font-size: 2em;
}
.education-container h3 {
  color: var(--primary-color);
}

.education, .interests {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  text-align: left;
}

.education img, .interests img {
  width: 30px;
  margin-right: 10px;
}

.education p, .interests p {
  margin: 0;
}

/* Projects Section */
.projects-container {
  max-width: 1100px;
  color: white;
  margin: auto;
  padding: 2em;
}

.projects-container h2 {
  color: var(--primary-color);
}

.project {
  margin-bottom: 2em;
  text-align: left;
}

.project h3 {
  /* color: rgb(224, 224, 224); */
  color:#90EE90;
}

.project-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.project-media img, .project-media video {
  width: 500px;
  height: 300px; 
  object-fit: cover; 
  margin: 1em 0;
  border-radius: 10px; 
}

.project p {
  margin: 0.5em 0;
}

.project a {
  color: #cccccc; 
  text-decoration: none;
}

.project a:hover {
  color: var(--primary-color); 
}


.project a:visited {
  color: #b0b0b0;
}

 /* responsive */
 @media (max-width: 990px) {
  .project-media {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-media img, 
  .project-media video {
    width: 100%;
    height: auto;
  }
}

/* Skills Section */
.skills-container {
  max-width: 1100px;
  color: white;
  margin: auto;
  padding: 2em;
}

.skills-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 2em;
  flex-wrap: wrap; 
}

.skills-category {
  text-align: left;
  width: 45%; 
  margin-bottom: 1em; 
}

.skills-category h4 {
  color: var(--primary-color); 
  font-size: 1.5em;
  margin-bottom: 1em;
}

.skills-category ul {
  list-style-type: none;
  padding: 0;
}

.skills-category ul li {
  margin: 0.5em 0;
}

/* Tools & Technology */
.tools-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between sections */
}
/* First row - 2 items */
.tools-icons:nth-of-type(1),
.tools-icons:nth-of-type(2) {
  flex: 1 1 calc(50% - 20px); 
}
/* Second row - 2 items */
.tools-icons:nth-of-type(3),
.tools-icons:nth-of-type(4) {
  flex: 1 1 calc(50% - 20px); 
}
/* Third row - 1 item */
.tools-icons:nth-of-type(5) {
  flex: 1 1 100%; 
}

.tools-icons {
  
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.tools-icons h4 {
  color: var(--primary-color);
  margin-bottom: 1em;
}

.tools-icons ul {
  list-style-type: none;
  padding: 0;
}

.tools-icons ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.tools-icons ul li img {
  width: 40px;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
  /* background: #ffffff;  */
  padding: 5px;
}

.tools-icons ul li span {
  color: var(--text-color); 
  font-size: 1em;
}


/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .skills-overview {
    justify-content: center; 
    margin: 0 10px; 
  }

  .skills-category {
    width: 40%; 
    margin: 0 5px; 
  }

  

  .tools-icons {
    width: 100%;
    max-width: 150px; 
  }
}

@media screen and (max-width: 400px) {
  .skills-overview {
    flex-direction: column;
  }

  .skills-category {
    width: 100%; 
  }

  .tools-technologies {
    display: flex;
    flex-direction: column;
  }

  .tools-icons {
    flex: 1 1 100%; 
    margin-bottom: 20px; 
  }

  .tools-icons:nth-of-type(2n) {
    margin-right: 0;
  }
  .tools-icons ul li {
    justify-content: center; 
  }
}

/* Contact Section */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
.contact-container {
  display: flex;
  flex-direction: row; 
  max-width: 1100px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

/* Default styling for larger screens */
.contact-form-section,
.contact-info-section {
  padding: 40px;
  width: 50%;
  box-sizing: border-box;
}

.contact-form-section {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form-section h3 {
  color: #90EE90;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.contact-form-section input,
.contact-form-section textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.contact-form-section button {
  padding: 10px 20px;
  background-color: #e91e63;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form-section button:hover {
  background-color: var(--primary-color);
}

.contact-info-section {
  background-color: #101010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.contact-info-section h3 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.contact-info-section a {
  color: var(--primary-color);
}

.contact-info-section a:hover {
  color: #e91e63;
}

.contact-info-section h3 span {
  color: #90EE90;
}

.contact-info-section p {
  color: #ffffff;
  margin-bottom: 10px;
}

.contact-method {
  display: flex;
  align-items: center;
}

.contact-method input {
  margin-right: 10px;
}

.contact-method label {
  color: #ffffff;
  margin-right: 20px;
  cursor: pointer;
}

.contact-info-section .social-links {
  margin-top: 1em;
}

.contact-info-section .social-links p {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.contact-info-section .social-links a {
  margin-right: 10px;
  display: inline-block;
}

.contact-info-section .social-links img {
  width: 24px;
  height: 24px;
}


/* Responsive adjustments for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column; 
  }

  .contact-form-section,
  .contact-info-section {
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
  }

  .contact-info-section .social-links a {
    margin-right: 5px; 
  }

  .contact-info-section .social-links img {
    width: 20px; 
    height: 20px;
  }
}

/* Additional adjustments for very narrow screens (like iPhone 14 Pro Max) */
@media screen and (max-width: 430px) {
  .contact-form-section,
  .contact-info-section {
    padding: 10px; 
  }
  
  .contact-form-section input,
  .contact-form-section textarea,
  .contact-form-section button {
    font-size: 14px; 
    padding: 8px; 
  }
  
  .contact-info-section p {
    font-size: 14px; 
  }
  
  .contact-info-section .social-links img {
    width: 20px; 
    height: 20px;
  }
}

/* Footer */
footer {
  text-align: center;
  padding: 1em;
  /* background: rgba(0, 0, 0, 0.8); */
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}